<!DOCTYPE html>
<html>
<head>
	<title>StuyOps</title>
	<style>
body {
  background-image: url('https://wallpapertag.com/wallpaper/full/9/b/5/122945-blackboard-background-2266x1511-download-free.jpg');
}
header{
		text-align: center; 
		background-color: grey; 
		color: black;
		font-size:25px; 
		height: 50px;
		word-spacing: 	50px;

}
</style>
</head>
<body>
<a href="home.html"><img src="https://stuy.enschool.org/pics/STUYHS_MOBILE.gif" ></a>
<header><a href="home.html" style="text-decoration: none;">Home   </a><a href="loginAndSignUpPage.html" style="text-decoration: none;">Login/SignUp   </a><a href="oppertunities.html" style="text-decoration: none;">   Oppertunities</a></header>
</body>
</html>