body {
	margin: 0;
	background:  #F0F8FF;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background:   #87CEFA;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
}
nav {
  float: middle;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

table, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  float: middle;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
tr, td {
  padding: 25px;
  width:500px;
}