<!DOCTYPE html>
<html>
<head>
	
	<title>Login</title>

	<link rel="stylesheet" type = "text/css" href="loginCSS.css">
	<link rel="stylesheet" type = "text/css" href="navBarStyle.css">
</head>
<body>
<a href="home.html"><img src="https://stuy.enschool.org/pics/STUYHS_MOBILE.gif" alt = "logo" class = "logo" width="150px"></a>
<header>
<nav>
	<ul>
  <li><a href="home.html">Home</a></li>
  <li><a href="loginAndSignUpPage.html">Login/SignUp</a></li>
  <li><a href="oppertunities.html">Oppertunities</a></li>
  <li><a href="about.html">About</a></li>
</ul>
</nav>
</header>

</body>
</html>
</body>
</html>