{% extends "base.html" %}
{% block title %} Oppertunities {% endblock %}
{% block content %}
<form action="" class="search-bar" 	>
	<input type="search" name="search" placeholder="Search For Oppertunities" style="height:35px;">
	<button class="search-btn" type="submit">
		<span><img src="https://cdn.onlinewebfonts.com/svg/img_388871.png" style="height:25px;"></span>
	</button>
</form>
<p><br></p>
<TABLE class="center">
	<tr>
		<th>Oppertunity</th>
		<th>Deadline</th>
		<th>Info</th>
	</tr>

{% for row in fulldata %}

<tr>
	<td>{{row.title}}</td>
	<td>{{row.date}}</td>
	<td>{{row.data}}</td>
</tr>

{% endfor %}


</TABLE>


{% endblock %}

