{% extends "base.html" %}
{% block title %} Saved Oppertunities {% endblock %}
{% block content %}
<div>
	<form action="" class="search-bar" method="GET">
		<input type="search" name="search" placeholder="Search For Oppertunities" style="height:35px;">
		<button class="search-btn" type="submit">
			<span><img src="https://cdn.onlinewebfonts.com/svg/img_388871.png" style="height:25px;"></span>
		</button>
	</form>
</div>
<p><br></p>
<TABLE class="center">
	<tr>
		<th>Oppertunity</th>
		<th>Deadline</th>
		<th>Info</th>
		<th>Delete</th>
	</tr>

{% for row in user.savedOps %}

<tr>
	<td><a href="{{ url_for('views.op', oppertunities = row.ops_id) }}">{{row.title}}</a></td>
	<td>{{row.date}}</td>
	<td>{{row.data}}</td>
	<td>
		<form method="POST">
    	<button type=“button”><a href="{{ url_for('views.deleteOp', oppertunities = row.ops_id) }}">Delete</a></button>
		</form>
	</td>
</tr>

{% endfor %}


</TABLE>


{% endblock %}
