{% extends "base.html" %}
{% block title %} Sign-up {% endblock %}
{% block content %}
<form method="POST">
	<h3 align="center">Sign Up</h3>
	<div class="form-group">
		<label for="email" style="height:100px;">Email Address</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required style="height:100px;">
	</div>
	<div class="form-group" style="height:100px;">
		<label for="firstName">First Name</label>
		<input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required style="height:100px;">
	</div>
	<div class="form-group">
		<label for="password1" style="height:100px;">Password</label>
		<input type="password1" class="form-control" id="password1" name="password1" placeholder="Enter your new password" required style="height:100px;">
	</div>
	<div class="form-group">
		<label for="password2" style="height:100px;">Confirm Password</label>
		<input type="password2" class="form-control" id="password2" name="password2" placeholder="Confirm your password" required style="height:100px;">
	</div>
	<div class="form-group">
		<label for="roles" style="height:100px;">role</label>
		<input type="roles" class="form-control" id="roles" name="roles" placeholder="roles" style="height:100px;">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	
</form>

{% endblock %}