{% extends "base.html" %}
{% block title %} Sign-up {% endblock %}
{% block content %}
<form method="POST">
	<h3 align="center">Sign Up</h3>
	<div class="form-group">
		<label for="email">Email Address</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="Please enter an email adrress" style="height:25px;">
	</div>
	<p><br></p>
	<div class="form-group">
		<label for="firstName">First Name</label>
		<input type="firstName" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required style="height:25px;">
	</div>
	<p><br></p>
	<div class="form-group">
		<label for="password1">Password</label>
		<input type="password1" class="form-control" id="password1" name="password1" placeholder="Enter your new password" required style="height:25px;">
	</div>
	<p><br></p>
	<div class="form-group">
		<label for="password2">Confirm Password</label>
		<input type="password2" class="form-control" id="password2" name="password2" placeholder="Confirm your password" required style="height:25px;">
	</div>
	<p><br></p>
	<div class="form-group">
		<label for="roles">Role</label>
		<input type="roles" class="form-control" id="roles" name="roles" placeholder="Roles" style="height:25px;">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	
</form>

{% endblock %}